# apps/web/.env

DATABASE_URL = # Postgres URI
SUPABASE_URL = 
SUPABASE_KEY = 
SUPABASE_ANON_KEY = 
SUPABASE_SERVICE_KEY = 

# optional -- these provide admin/GUI access
SUPABASE_ADMIN_AREA_USERNAME = 
SUPABASE_ADMIN_AREA_PASSWORD = 

# RESEND Emails
RESEND_API_KEY =
